@import "tailwindcss";
@import "./fonts.css";
@import "./animation.css";

@theme {
  /* min width 기준 breakpoints */
  --breakpoint-*: initial;
  --breakpoint-phone: 0px;
  --breakpoint-phone_large: 429px;
  --breakpoint-tablet: 639px;
  --breakpoint-desktop: 1023px;
  --breakpoint-desktop_large: 1769px;

  --text-xxs: 1.1rem;
  --text-xs: 1.4rem;
  --text-s: 1.5rem;
  --text-m: 2rem;

  --spacing-headerH: var(--headerH);
  --spacing-margin: var(--ep-margin);
  --spacing-margin-s: var(--ep-margin-s);

  --spacing-spacing-1: 0.1rem;
  --spacing-spacing-2: 0.2rem;
  --spacing-spacing-3: 0.3rem;
  --spacing-spacing-4: 0.4rem;
  --spacing-spacing-5: 0.5rem;
  --spacing-spacing-6: 0.6rem;
  --spacing-spacing-7: 0.7rem;
  --spacing-spacing-8: 0.8rem;
  --spacing-spacing-9: 0.9rem;
  --spacing-spacing-10: 1rem;
  --spacing-spacing-12: 1.2rem;
  --spacing-spacing-14: 1.4rem;
  --spacing-spacing-16: 1.6rem;
  --spacing-spacing-20: 2rem;
  --spacing-spacing-40: 4rem;

  --color-black: var(--black);
  --color-white: var(--white);
  --color-gray: var(--gray);
  --color-light-gray: var(--light-gray);
  --color-black-80: rgba(19, 19, 19, 0.82);
  --color-selected: var(--selected);
  --color-secondary: var(--secondary);

  --animate-fadeIn: fadeIn 0.2s ease-in-out forwards;
  --animate-fadeOut: fadeOut 0.2s ease-in-out forwards;
  --animate-slideInHorizontal: slideInHorizontal 0.5s ease-in-out forwards;
  --animate-slideOutHorizontal: slideOutHorizontal 0.5s ease-in-out forwards;

  --background-image-black-fade:
    linear-gradient(180deg, transparent 0%, transparent 20%, var(--black) 100%);

  --font-pretendard:
    pretendard, system-ui, Avenir, Helvetica, Arial, sans-serif;
  --font-inter: inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-family:
    pretendard, inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 2.3rem;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --black: #131313;
  --white: #e2e2e2;
  --gray: #787878;
  --light-gray: #E2E2E2;
  --secondary: #222222;
  --selected: #323232;

  --ep-margin: 8px;
  --ep-margin-s: 4px;
  --headerH: 36px;

  --card-min-width: 230px;
  --card-max-width: 
}

/* 타블렛 크기 이상 디바이스에서 적용되는 스타일 */
@media screen and (min-width: 639px) {
  :root {
    --ep-margin: 10px;
    --ep-margin-s: 5px;
    --headerH: 40px;
  }
}

html {
  font-size: 10px !important;
}

body,
html {
  width: 100%;
  height: 100%;
  background-color: var(--black);
  color: var(--white);
}

* {
  scrollbar-width: none;
}

*::-webkit-scrollbar {
  display: none;
}

button,
a {
  text-decoration: none;
  transition: color 0.1s ease-in-out;
  cursor: pointer;
  color: var(--gray);
}

button:hover,
button.active,
a:hover {
  color: var(--white);
}

input:focus {
  outline: none;
}

input {
  background: transparent;
}

/* 검색어 지우기 x 버튼 숨기기 */
input::-webkit-search-cancel-button,
input::-webkit-search-decoration {
  display: none;
}

input:-internal-autofill-selected {
  background-color: transparent;
}

/* 제목은 기본 회색 border를 적용하지만 카드내 제목은 제외 */
h1, h2, h3:not(figcaption > *) {
  border-bottom: 1px solid var(--light-gray);
  width: fit-content;
  line-height: 2.3rem;
  font-weight: 400;
}
